// variables

// colores
$color-body: black ;
$color-letras : #FF0000 ;
$color-form: #1e1f20;
$color-elipse: rgb(255, 123, 0);
$color-elipse2:rgb(201, 18, 18);

// fuente
$fuente-principal : "Roboto", sans-serif;

// medida
$heigth-total: 100%;

