/* css total */
body {
    
    font-family: $fuente-principal;
    color: $color-letras;
    margin: 0 !important;
    min-height: $heigth-total;

}


/* lista */
#menu {

    a {
    font-size: 30px;
    color: $color-letras;
    padding-left: 30px;
}

}

@media (max-width:768px){

#menu {
width: 100% !important;
}

}